@import url('https://fonts.googleapis.com/css?family=Nixie+One');

body {
    position: relative;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}
/* portada principal */
.white {
    color:#ffffff;
}

.icon-e {
    background: #ffffff;
    color:#4B4BDF ;
    border-radius: 25px 25px 0 25px; 
    font-family: 'Pacifico', cursive;
    padding: 6px 15px;
    font-size:24px;
}

.portada {
    width: 100%;
    background: #4B4BDF;
    height: 100vh;
     background-image: url(../assets/back-portada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.butt-toggle{
    background: #ffffff;
    border-radius: 25px 25px 25px 0px;
    padding: 10px 15px; 
}

.blue {
    color:#4B4BDF;
}

.outline {
    outline: 1px solid red;
}

.link-sec:hover {
   background-color: #ffffff;
   color:#4B4BDF;
}

.back-blue {
    background:  #6161E1 ;
}

/* secccion 2 */
.section-2 {
    width: 100%;
    background: #f5f9fc ;
    height: 100vh;
}

/* neon */
.neon {
	display: table-cell;
	text-align: center;
    vertical-align: middle;
}

span {
    font: normal 100px 'Nixie One';
    color: #FFF200;
	text-shadow: 0 0 30px #FFF200, 
    5px 9px 5px rgba(0, 0, 0, 0.5);
  }
  
  span.off {
      color: rgba(46, 46, 46, 0.61);
      text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
  }
  
.info-portada {
    padding-top: 100px;
}

.paragraph-portada {
    font-family:  'Raleway', sans-serif;
    color: #ffffff;
    font-size: 1.5rem;
}

/* seccion 2 */

.fa-female {
    padding: 30px;
}

/* .container-woman{
    outline: 1px solid red;
} */