body {
    position: relative;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
/* portada principal */
.white {
    color:#ffffff;
}

.icon-e {
    background: #ffffff;
    color:#4B4BDF ;
    border-radius: 25px 25px 0 25px; 
    font-family: 'Pacifico', cursive;
    padding: 6px 15px;
    font-size:24px;
}

.portada {
    /* height: auto; */
    width: 100%;
    background: #4B4BDF;
    /* outline: 1px solid red; */
    height: 100vh;
}

.butt-toggle{
    background: #ffffff;
    border-radius: 25px 25px 25px 0px;
    padding: 10px 15px; 
}

.blue {
    color:#4B4BDF;
}

.outline {
    outline: 1px solid red;
}

.link-sec:hover {
   /* color:#ffffff;
   padding: 2px;
   border-bottom: 3px solid #F3C01E; */
   background-color: #6C6BE4;
   color: #ffffff;
}

.back-blue {
    background: #4B4BDF;
}