@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?r80b3i');
  src:  url('icomoon.eot?r80b3i#iefix') format('embedded-opentype'),
    url('icomoon.ttf?r80b3i') format('truetype'),
    url('icomoon.woff?r80b3i') format('woff'),
    url('icomoon.svg?r80b3i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook2:before {
  content: "\ea91";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-envelope:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e905";
}
.icon-phone2:before {
  content: "\e909";
}
.icon-laptop:before {
  content: "\e906";
}
.icon-mouse:before {
  content: "\e907";
}
.icon-user2:before {
  content: "\e904";
}
.icon-scissors:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e900";
}
.icon-display:before {
  content: "\e901";
}
.icon-like:before {
  content: "\e902";
}
.icon-study:before {
  content: "\e903";
}
.icon-github2:before {
  content: "\e90a";
}
